.nav-wrapper {
    padding: 0 2rem ;
}

.price {
    font-size: 2rem;
}

.foodDescr{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodDescr h1 {
    margin-bottom: 2rem;
}

.foodDescr img {
    max-width: 300px;
    height: auto;
}

.foodDescr .price.big{
    font-size: 2.5rem;
}